html {background-color: bisque;}
h1 {background-color:aqua ;text-align: center;}
a {text-align: center;margin-left: 28%;}
p {background-color:yellowgreen;font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}
